#skills {
  text-align: center;
  padding: 5em;
  h2 {
    color: #fff;
    margin-bottom: 2em;
  }
  h3 {
    color: #808386;
  }
}

.logos-container {
  display: flex;
  justify-content: space-around;
  margin: 1em auto;
  max-width: 1000px;
  img {
    height: 100px;
  }
  label {
    color: #808386;
  }
}

@media (max-width: 767px) {
  #skills > div {
    display: flex;
    justify-content: space-evenly;
  }
  .logos-container {
    flex-direction: column;
    margin: 0;
  }
}

@media (max-width: 534px) {
  #skills {
    padding: 3em 0;
  }
  .logos-container img {
    height: 70px;
}
}
